* text=auto

*.py text eol=lf
*.md text eol=lf
*.toml text eol=lf
*.ini text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.csv text eol=lf
*.txt text eol=lf
*.svg text eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.pdf binary
*.edf binary
*.cbf binary
*.tif binary
*.tiff binary
*.bin binary
*.jdf binary
